[submodule "agent-eval"]
	path = agent-eval
	url = https://github.com/YoloFS/agent-bench.git
	branch = main
[submodule "agent-results"]
	path = agent-results
	url = https://github.com/YoloFS/agent-results.git
	branch = main
[submodule "bench"]
	path = bench
	url = https://github.com/YoloFS/bench.git
	branch = main
[submodule "bench-results"]
	path = bench-results
	url = https://github.com/YoloFS/bench-results.git
	branch = main
[submodule "paper"]
	path = paper
	url = https://github.com/YoloFS/paper.git
	branch = main
[submodule "paper-plan"]
	path = paper-plan
	url = https://github.com/YoloFS/paper-plan.git
	branch = main
[submodule "paper-study"]
	path = paper-study
	url = https://github.com/YoloFS/paper-study.git
	branch = main
