[submodule "third_party/codex"]
	path = eval/third_party/codex
	url = https://github.com/openai/codex
[submodule "third_party/opencode"]
	path = eval/third_party/opencode
	url = https://github.com/anomalyco/opencode
[submodule "results-bench"]
	path = results-bench
	url = git@github.com:ShawnZhong/Agfs-Bench-Results.git
[submodule "results-eval"]
	path = results-eval
	url = git@github.com:ShawnZhong/Agfs-Eval-Results.git
[submodule "bench/third_party/branchfs"]
	path = bench/third_party/branchfs
	url = https://github.com/multikernel/branchfs
[submodule "bench/third_party/try"]
	path = bench/third_party/try
	url = https://github.com/binpash/try
[submodule "paper-study"]
	path = paper-study
	url = git@github.com:ShawnZhong/AgFS-Paper-Study.git
[submodule "paper-plan"]
	path = paper-plan
	url = git@github.com:ShawnZhong/AgFS-Paper-Plan.git
